.card-notif {
    display: block;
    /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.15); */
}

.app-card {
    transition-duration: 0.2s;
}

.app-card:hover {
    background-color: #273d6a;
    color: #fff;
    margin-top: -3px;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5)
}

.card {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
}

.card 
.card-header,
.card-footer {
    border-radius: 0px !important;
}

.card-theme-task {
    background-color: rgba(255, 200, 87, 0.66);
}

.card-theme-chat {
    background-color: rgba(238, 99, 82, 0.66);
}

.card-theme-file {
    background-color: rgb(89, 205, 104, 0.66);
}

.card-user {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.chart {
  width: 100%; 
  min-height: 500px;
}

.stats-box {
    margin: 0.5rem !important;
}

.card-stats {
    min-height: 600px;
}